@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/fonts' as *;


* {
    font-family: 'AvenirNext LT Pro', 'Sans Serif';
    box-sizing: border-box;
    margin: 0px;
}

body {

    font-weight: 400;
    color: #323232;

    @include mobile {
        font-size: 13px;
        line-height: 18px;
        // width: 100%;
        // margin: 0px 16px;
    }

    @include tablet {
        font-size: 14px;
        line-height: 22px;
    }
}

.dark-background {
    background-color: #323232;
}

.section-headings {
    color: #323232;
    font-weight: 700;
    

    @include mobile {
        font-size: 24px;
        line-height: 32px;
        // margin-left: -50px;
        margin-left: 15px;
        padding-top: 24px;
    padding-bottom: 16px;
    }

    @include tablet {
        font-size: 36px;
        line-height: 44px;
        padding-top: 48px;
        padding-bottom: 36px;
    }

    @include desktop {
        margin-left: -90px;
        /* font-size and line-height will be same as mentioned for tablet */
    }

    &--footer {
        color: #ffffff;
        // padding: 0px;
    }
}

// .padding-between-components {
//     padding: 16px;   
// }

.header {
    // background-color: #323232;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    width: 100%;
    // position: relative;

    @include mobile {
        flex-direction: column;
    }

    @include tablet {
        justify-content: flex-start;
        flex-direction: row;
        // align-items: center;
    }

    @include desktop {
        justify-content: flex-start;
        // flex-direction: row;
        // align-items: center;
    }

    &__content {

        @include mobile {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            font-size: 10px;
            line-height: 20px;
            // font-weight: 700;
            // padding: 10px 0px;
            // position: absolute;
            // left: 100px;

        }

        @include tablet {
            display: inline-flex;
            justify-content: flex-start;
            align-items: center;
            // width: 40%;
            margin-left: 65px;
        }

        @include desktop {
            display: inline-flex;
            justify-content: flex-start;
            align-items: center;
            // width: 40%;

        }
    }

    &__nav {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0px;
        color: #E1E1E1;
        font-weight: 400;
        margin-right: 30px;


        @include mobile {
            width: 50%;
        }

        @include tablet {
            // width: 20%;
            // margin-left: 50px;
        }

        &--selected {
            color: #ffffff;
            border-bottom: 5px solid #ffffff;
            font-weight: 700;
        }

        &:hover {
            color: #ffffff;
            border-bottom: 5px solid #ffffff;
            // font-weight: 400;
        }
    }

}

.logo {
    // font-size: 40px;
    text-decoration: none;
    color: #ffffff;
    // padding: 10px 0px;
    // padding: 20px 0px 10px 0px;
    display: none;
    font-size: 24px;
    // font-weight: 700;
    line-height: 32px;
    // height: 20px;
    // width: 120px;

    @include mobile {
        padding: 20px 0px 5px 0px;
    }

    @include tablet {
        padding: 0px;
    }

    &--nav {
        max-height: 20px;
        max-width: 120px;

        @include mobile {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            // position: absolute;
        }

        @include tablet {
            // display: inline-flex;
            // justify-content: center;
            // align-items: center;
            // width: 30%;
            // padding-left: 0px;

            display: inline-flex;
            justify-content: flex-start;
            align-items: center;
            // width: 22%;
            // padding-left: 100px;
            margin-left: 40px;
            // padding-right: 20px;
            // margin-right: 100px;
            // top: 10px;
            // left: 0px;
        }

        @include desktop {
            // display: inline-flex;
            // justify-content: center;
            // align-items: center;
            // width: 30%;
            // padding-left: 0px;

            // display: inline-flex;
            // justify-content: flex-start;
            // align-items: center;
            // width: 22%;
            // padding-left: 100px;
            margin-right: 0px;
        }
    }

    &--mobile {
        @include mobile {
            display: inline-block;
            padding-bottom: 30px;
        }

        @include tablet {
            display: none;
        }

    }

    &--tablet {
        @include mobile {
            display: none;
        }

        @include tablet {
            display: inline-block;
            padding-bottom: 30px;
        }
    }

    // &--desktop {
    //     @include mobile {
    //         display: none;
    //     }

    //     @include desktop {
    //         display: inline-block;
    //     }
    // }
}

.hero {
    background-image: url(../assets/Images/hero-bio.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    position: relative;

    @include mobile {
        height: 200px;
    }

    @include tablet {
        // height: 500px;
        height: 465px;
    }

    @include desktop {
        height: 600px;
    }

    &__overlay {
        position: absolute;
        background: rgba(50, 50, 50, 0.5);
        z-index: 999;
        height: 100%;
        width: 100%;
    }
}

.hero-text {
    font-weight: 700;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #ffffff;

    @include mobile {
        font-size: 24px;
        line-height: 32px;
        padding-left: 22px;
    }

    @include tablet {
        font-size: 60px;
        line-height: 68px;
        padding-left: 40px;
    }

    @include desktop {
        padding-left: 80px;
    }
}

.about__container {
    width: 100%;
    // padding: 30px;
    padding-bottom: 16px;
}

.about__wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // padding-left: 200px;
    padding-left: 25%;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;


    &__heading {
        // font-size: 35px;
        // padding-bottom: 10px;
        // align-items: flex-start;
        @include tablet {
            margin-left: -60px;
        } 
    }

    &__image {
        // height: 45vw;
        // width: 80vw;
        // // width: 100%;
        // padding: 10px;
        padding: 16px;

        @include mobile {
            height: 60vw;
            width: 100vw;
        }

        @include tablet {
            height: 50vw;
            width: 80vw;
        }

        @include desktop {
            height: 475px;
            width: 850px;
        }
    }

    &__quote {
        font-weight: 700;
        // margin: 20px;
        // width: 100%;

        @include mobile {
            font-size: 14px; //13
            line-height: 22px; //18
            padding: 0px 10px;
            width: 98%;
        }

        @include tablet {
            font-size: 24px;
            line-height: 32px;
            // padding: 0px 65px;
            // width: 86%;
            padding: 0px 10px;
        }

        @include desktop {
            margin-left: 20px;
            width: 89%;
            padding: 0px;
        }
    }

}

.about-article {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    font-size: 20px;
    padding: 0px 10px;

    @include mobile {
        padding: 0px 16px;
        width: 180%;
    }

    @include tablet {
        // margin: 0px 60px;
        margin: 0px -100px;
        width: 150%;
    }

    @include desktop {
        // margin: 0px;
        // margin-left: -60px;
        margin-left: -4.75rem;
        width: 125%;
    }

    &__heading {
        padding: 20px 0px 10px 0px;
        font-weight: 600;
        color: #000000;

        @include mobile {
            font-size: 14px;
            line-height: 22px;
        }

        @include tablet {
            font-size: 24px;
            line-height: 32px;
        }
    }

    // &__content {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     width: 100%;
    // }

    &__subcontent {

        @include mobile {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 10px 0px;
            width: 100%;
            font-size: 13px;
            line-height: 18px;
            font-weight: 400;
        }


        @include tablet {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // width: 44%;
            // padding: 0px 10px;
            // margin-left: 20px;
            // margin-right: 35px;
            width: 45%;
            margin-right: 20px;
        }

        @include desktop {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 45%;
            // padding: 0px 10px;
            // margin-left: 20px;
        }
    }
}

.alternate-light-background {
    background-color: #FAFAFA;
}

.photo-gallery {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 24px;

    @include tablet {
        
    }

    @include desktop {
        padding-bottom: 24px;
    }

    &__heading {
        font-size: 30px;
        // display: flex;
        // justify-content: flex-start;
        // align-items: center;

        @include mobile {
            // margin-left: -85px;
            margin-left: 10px;
            // margin-left: -100px;
        }

        @include tablet {
            // margin-left: 50px;
            margin-left: 25px;
        }

        @include desktop {
            margin-left: 70px;
        }
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        // width: auto;
        padding-bottom: 16px;

        @include tablet {
          //   margin: 0px -30px;
            margin: 0px;
        }
    }

    &__images {
        padding: 10px 10px;
        width: 100%;


        @include mobile {
            // height: 45vh;
            // width: 80vw;
            // width: 100%;
        }

        @include tablet {
            display: inline-flex;
            justify-content: space-evenly;
            align-items: center;
            width: 30%;
        }

        @include desktop {
            display: inline-flex;
            justify-content: space-evenly;
            align-items: center;
            width: 30%;
        }
    }
}

.footer {
    // background-color: #323232;
    width: 100%;
    color: #ffffff;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;

    @include mobile {
        font-size: 13px;
        line-height: 18px;
    }

    @include tablet {
        font-size: 14px;
        line-height: 20px;
    }

    &__get-in-touch-section {

        display: inline-flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;

        @include mobile {
            flex-direction: column;
        }

        @include tablet {
            width: 70%;
            flex-direction: row;
        }

        @include desktop {
            width: 70%;
        }

        &--wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
    }

    &__heading {
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        padding: 0px;

        @include mobile {
            margin-left: 0px;
        }

        @include tablet {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-left: -24px;
        }

        @include desktop {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-left: -70px;
        }
    }

    &__icons-list {


        @include mobile {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: -10px;
        }

        @include tablet {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-left: 13px;
            margin-top: -10px;
        }

        @include desktop {
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }

    }

    &__icons {
        height: 50px;
        width: 50px;
        padding: 10px;
    }

    &__trademark {

        @include tablet {
            margin-left: 20px;
        }

        @include desktop {
            margin-left: 55px;
        }
    }
}

.footer__card-container {
    width: 100%; //tablet + desktop

    @include tablet {
        margin: 0px 10px;
    }

    @include desktop {
        margin: 0px 45px;
    }
}

.footer__card-wrapper {
    /* mobile */

    @include mobile {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        margin: 20px auto;
    }

    @include tablet {
        display: inline-flex;
        align-items: flex-start;
        justify-content: space-between;
        margin: 20px 10px;
        width: 26%;
    }

    @include desktop {
        display: inline-flex;
        align-items: flex-start;
        justify-content: space-between;
        margin: 20px 10px;
        // width: 30%;
        width: 20%;
    }
}

.footer__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;

    @include tablet {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        color: #ffffff;
    }

    @include desktop {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        color: #ffffff;
    }


    &--name {
        margin: 10px 0px;
    }

    &--role {
        margin: 10px 0px;
    }

    &--contact {
        margin: 10px 0px;
    }
}