@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/fonts' as *;

//moved to global.scss

// * {
//     font-family: 'AvenirNext LT Pro', 'Sans Serif';
//     box-sizing: border-box;
//     margin: 0px;
// }

// body {

//     font-weight: 400;
//     color: #323232;

//     @include mobile {
//         font-size: 0.8125rem;
//         line-height: 1.125rem;
//     }

//     @include tablet {
//         font-size: 0.875rem;
//         line-height: 1.375rem;
//     }
// }

//moved to global.scss

// .dark-background {
//     background-color: #323232;
// }

// .alternate-light-background {
//     background-color: #FAFAFA;
// }

// .section-headings {
//     color: #323232;
//     font-weight: 700;


//     @include mobile {
//         font-size: 1.5rem;
//         line-height: 2rem;
//         margin-left: 0.9375rem;
//         padding-top: 1.5rem;
//         padding-bottom: 1rem;
//     }

//     @include tablet {
//         font-size: 2.25rem;
//         line-height: 2.75rem;
//         padding-top: 3rem;
//         padding-bottom: 2.25rem;
//     }

//     &--footer {
//         color: #ffffff;
//     }
// }

//moved to global.scss

// .header {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     color: #ffffff;
//     width: 100%;

//     @include mobile {
//         flex-direction: column;
//     }

//     @include tablet {
//         justify-content: flex-start;
//         flex-direction: row;
//     }

//     &__content {

//         @include mobile {
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             width: 100%;
//             font-size: 0.625rem;
//             line-height: 1.25rem;
//         }

//         @include tablet {
//             display: inline-flex;
//             justify-content: flex-start;
//             align-items: center;
//             margin-left: 4.0625rem;
//         }
//     }

//     &__nav {
//         display: inline-flex;
//         justify-content: center;
//         align-items: center;
//         padding: 1.25rem 0rem 0.625rem 0rem;
//         color: #E1E1E1;
//         font-weight: 400;


//         @include mobile {
//             width: 50%;
//         }

//         @include tablet {
//             margin-right: 1.875rem;
//             padding: 1.25rem 0rem;
//             font-size: 0.9375rem;
//         }

//         &--selected {
//             color: #ffffff;
//             border-bottom: 3px solid #ffffff;
//             font-weight: 700;
//         }

//         &:hover {
//             color: #ffffff;
//             border-bottom: 3px solid #ffffff;
//         }
//     }

// }

// .logo {
//     text-decoration: none;
//     color: #ffffff;
//     display: none;
//     font-size: 1.5rem;
//     line-height: 2rem;

//     @include mobile {
//         padding: 1.25rem 0rem 0.3125rem 0rem;
//     }

//     @include tablet {
//         padding: 0rem;
//     }

//     &--nav {
//         // max-height: 1.25rem;
//         // max-width: 7.5rem;
//         /* not for mobile */

//         @include mobile {
//             display: inline-flex;
//             justify-content: center;
//             align-items: center;
//         }

//         @include tablet {
//             display: inline-flex;
//             justify-content: flex-start;
//             align-items: center;
//             margin-left: 2.5rem;
//             max-height: 1.25rem;
//         max-width: 7.5rem;
//         }

//         @include desktop {
//             margin-right: 0rem;
//         }
//     }

//     &--mobile {
//         @include mobile {
//             display: inline-block;
//             padding-bottom: 0.9375rem;
//             padding-top: 2.8125rem;
//         }

//         @include tablet {
//             display: none;
//         }

//     }

//     &--tablet {
//         @include mobile {
//             display: none;
//         }

//         @include tablet {
//             display: inline-block;
//             padding-left: 2.5rem;
//         }
//     }

// }

//moved to gloabl.scss

// .hero {
//     background-image: url(../assets/images/hero-bio.jpg);
//     background-position: center;
//     background-size: cover;
//     width: 100%;
//     position: relative;

//     @include mobile {
//         height: 12.5rem;
//     }

//     @include tablet {
//         height: 29.0625rem;
//     }

//     @include desktop {
//         height: 37.5rem;
//     }

//     &__overlay {
//         position: absolute;
//         background: rgba(50, 50, 50, 0.5);
//         z-index: 999;
//         height: 100%;
//         width: 100%;
//     }
// }

// .hero-text {
//     font-weight: 700;
//     display: inline-flex;
//     justify-content: flex-start;
//     align-items: center;
//     width: 100%;
//     height: 100%;
//     color: #ffffff;

//     @include mobile {
//         font-size: 1.5rem;
//         line-height: 2rem;
//         padding-left: 1.375rem;
//     }

//     @include tablet {
//         font-size: 3.75rem;
//         line-height: 4.25rem;
//         padding-left: 2.5rem;
//     }

//     @include desktop {
//         padding-left: 5rem;
//     }
// }

.about {
    width: 100%;
    padding-bottom: 1rem;


    &__wrapper {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        @include tablet {
            align-items: flex-start;
        }
    }

    &__heading {
        @include tablet {
            margin-left: 1.25rem;
        }

        @include desktop {
            margin-left: 6.25rem;
        }
    }

    &__section {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        @include tablet {
            width: 80%;
        }
    }

    &__image {
        padding: 1rem;
        margin: auto;

        @include mobile {
            height: 60vw;
            width: 100vw;
        }

        @include tablet {
            height: 50vw;
            width: 80vw;
        }

        @include desktop {
            height: 40vw;
        }
    }

    &__quote {
        font-weight: 700;

        @include mobile {
            font-size: 0.875rem;
            line-height: 1.375rem;
            padding: 0rem 0.625rem;
        }

        @include tablet {
            font-size: 1.375rem;
            line-height: 2rem;
            padding: 0rem 0.625rem;
        }

        @include desktop {
            margin-left: 1.25rem;
            padding: 0rem;
        }
    }

}

.about-article {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    font-size: 1.25rem;
    padding: 0rem 0.625rem;
    width: 100%;

    @include mobile {
        padding: 0rem 1rem;
    }

    &__heading {
        padding: 1.25rem 0rem 0.625rem 0rem;
        font-weight: 600;
        color: #000000;

        @include mobile {
            font-size: 0.875rem;
            line-height: 1.375rem;
        }

        @include tablet {
            font-size: 1.5rem;
            line-height: 2rem;
        }
    }

    &__subcontent {

        @include mobile {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0.625rem 0rem;
            width: 100%;
            font-size: 0.8125rem;
            line-height: 1.125rem;
            font-weight: 400;
        }


        @include tablet {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 49%;
            margin: auto;
        }
    }
}

.photo-gallery {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 1.5rem;

    @include mobile {
        padding-bottom: 0.625rem;
    }

    @include desktop {
        padding-bottom: 1.5rem;
    }

    &__heading {
        font-size: 1.875rem;

        @include mobile {
            margin-left: 0.625rem;
        }

        @include tablet {
            margin-left: 1.5625rem;
        }

        @include desktop {
            margin-left: 4.375rem;
        }
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        @include tablet {
            margin: 0rem;
        }
    }

    &__images {
        padding: 0.625rem 0.625rem;
        width: 100%;
        filter: grayscale(50%);

        @include tablet {
            display: inline-flex;
            justify-content: space-evenly;
            align-items: center;
            width: 30%;
        }

        &:hover {
            filter: none;
        }
    }
}

//sprint-2 entry

.comment {

    margin-bottom: 2rem;

    &__heading {
        font-size: 1.875rem;

        @include mobile {
            margin-left: 0.625rem;
        }

        @include tablet {
            margin-left: 1.5625rem;
        }

        @include desktop {
            margin-left: 4.375rem;
        }
    }


    &__wrapper {

        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        // width: 86%;
        // margin: auto;
        color: #000000;

        @include tablet {
            width: 67%;
            margin: auto;
        }

        @include desktop {
            width: 38%;
        }
    }

    &__label {
        color: #323232;
        margin-top: 0.625rem; //10px;
    }

    &__form {
        display: flex;
        // flex-direction: column; //commented for desktop
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 0.625rem;
        padding-bottom: 0.625rem;
        border-bottom: 5px solid #E1E1E1;
    }

    &__form-user-image {
        border-radius: 50%;
        background-color: #E1E1E1;
        display: inline-flex;

        @include mobile {
            /* max heights and widths */
            height: 2.25rem; //36px;
            width: 2.25rem; //36px;
        }

        @include tablet {
            /* max heights and widths */
            height: 3rem; //48px;
            width: 3rem; //48px;
        }

        @include desktop {
            margin-top: 1.25rem; //20px;
        }

        &--result {
            margin-top: 0rem;
        }
    }

    &__form-div {
        display: inline-flex; 
        flex-direction: column;
        width: 100%;

        &--user-image {
            width: 10%;
            margin-right: 1rem;
        }
    }

    &__form-input {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        width: 100%;
        border: 1px solid #E1E1E1;
        background-color: #FAFAFA;

        &--textarea {
            height: 7rem;
        }

        &--active {
            outline: none;
            border: 1px solid #323232;
        }

        // &:focus:invalid
        &--error {
            border: 1px solid #D22D2D;
        }

        @include mobile {
            min-height: 2.25rem; //36px;
            padding: 0.75rem; //12px;
            margin-top: 4px; //fixed
        }

        @include tablet {
            min-height: 3rem; //48px
            padding: 1rem; //16px;
            margin-top: 4px; //fixed
        }
    }

&__result-div {
    width: 100%;
    display: flex;
    border-bottom: 5px solid #E1E1E1;
    padding: 1rem 0rem; //15px 0px;

    &--image {
        width: 10%;
        margin-right: 1rem;
    }

    &--detail {
        width: 90%;
    }
}

    &__result {
        // margin-bottom: 20px;
        padding-bottom: 0.625rem;
        // border-bottom: 1px solid #E1E1E1;
        // width: 69%;
        width: 34%;
        margin: auto;

        @include tablet {
            // width: 67%;
            width: 100%;
        }

        @include desktop {
            display: flex;
    flex-direction: column;
        }
    }

    &__result-details {
        display: inline-flex;
        // justify-content: flex-start;
        align-items: center;
        width: 49%;

        &--left {
            justify-content: flex-start;
        }

        &--center {
            width: 100%;
            // border-bottom: 1px solid #E1E1E1;
            margin-bottom: 0.625rem;
            padding-bottom: 0.625rem;
        }

        &--right {
            justify-content: flex-end;
        }

        &--font-color {
            color: #323232;
        }
    }


}



// .join-the-conversation__commentee {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     width: 50%;
// }


// .join-the-conversation__comment-content {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

//moved to global.scss

// .footer {
//     width: 100%;
//     color: #ffffff;
//     font-weight: 400;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: flex-start;
//     padding: 1.25rem 0.625rem;

//     @include mobile {
//         font-size: 0.8125rem;
//         line-height: 1.125rem;
//     }

//     @include tablet {
//         font-size: 0.875rem;
//         line-height: 1.25rem;
//     }

//     &__get-in-touch-section {

//         display: inline-flex;
//         align-items: flex-start;
//         justify-content: flex-start;
//         width: 100%;

//         @include mobile {
//             flex-direction: column;
//         }

//         @include tablet {
//             width: 70%;
//             flex-direction: row;
//         }

//         @include desktop {
//             width: 70%;
//         }

//         &--wrapper {
//             display: flex;
//             align-items: center;
//             width: 100%;


//             @include tablet {
//                 padding-left: 1.25rem;
//             }

//             @include desktop {
//                 padding-left: 2.8125rem;
//             }
//         }
//     }

//     &__heading {
//         font-size: 1.5rem;
//         line-height: 2rem;
//         font-weight: 700;
//         padding: 0rem;

//         @include mobile {
//             margin-left: 0rem;
//         }

//         @include tablet {
//             display: inline-flex;
//             justify-content: center;
//             align-items: center;
//         }

//         @include desktop {
//             margin-left: 0rem;
//         }
//     }

//     &__icons-list {


//         @include mobile {
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             margin-left: -0.625rem;
//         }

//         @include tablet {
//             display: inline-flex;
//             justify-content: center;
//             align-items: center;
//             margin-left: 0.8125rem;
//             margin-top: -0.625rem;
//         }

//     }

//     &__icons {
//         height: 3.125rem;
//         width: 3.125rem;
//         padding: 0.625rem;
//     }

//     &__trademark {

//         @include mobile {
//             font-size: 0.71875rem;
//         }

//         @include tablet {
//             padding-left: 1.25rem;
//         }

//         @include desktop {
//             padding-left: 2.1875rem;
//         }
//     }
// }

// .footer__card-container {
//     width: 100%;

//     @include tablet {
//         padding: 0rem 0.625rem;
//     }

//     @include desktop {
//         padding: 0rem 1.875rem;
//     }
// }

// .footer__card-wrapper {

//     @include mobile {
//         display: flex;
//         align-items: flex-start;
//         justify-content: flex-start;
//         width: 100%;
//         margin: 0.625rem auto;
//     }

//     @include tablet {
//         display: inline-flex;
//         align-items: flex-start;
//         justify-content: space-between;
//         margin: 1.25rem 0.625rem;
//     }
// }

// .footer__card {
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     justify-content: space-evenly;

//     @include tablet {
//         display: inline-flex;
//         flex-direction: column;
//         align-items: flex-start;
//         justify-content: space-evenly;
//         color: #ffffff;
//     }

//     &--name {
//         margin: 0.625rem 0rem;
//         font-weight: 700;
//     }

//     &--role {
//         margin: 0.625rem 0rem;
//     }

//     &--contact {
//         margin: 0.625rem 0rem;
//     }

//     &--contact-link {
//         text-decoration: none;
//         color: #ffffff;
//     }
// }