@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/fonts' as *;

.shows {
    &__container {
        display: flex;
        // display: inline-flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        margin: 1.875rem 0rem; //30px 0px;

        @include mobile {
            flex-direction: column;
        }

        @include tablet {
            flex-direction: column;
        }

        @include desktop {
            flex-direction: row;
        }
    }

    &__heading {
        // justify-content: center;
        // align-items: center;
        padding-left: 1.67rem; //20px;

        @include mobile {
            width: 100%;
            display: flex;
        }

        @include tablet {
            display: inline-flex;
            width: 20%;
            padding-left: 4.0625rem; //65px;
        }

        @include desktop {
            display: inline-flex;
            width: 20%;
            justify-content: center;
            font-size: 1.875rem; //30px;
            padding-top: 0.625rem;
            padding-left: 6.25rem; //100px;
        }
    }
}

.shows-detail {

    width: 100%;

    &__wrapper {
        display: flex;
        flex-direction: column;
        /* commented for desktop */
        justify-content: center;
        align-items: center;
        width: 100%;

        // @include mobile{

        // }

        @include tablet {
            // width: 80%;
            padding: 1.5625rem 0rem 1.25rem 1.25rem; //25px 0px 20px 20px;
        }

        @include desktop {
            padding: 1.5625rem 0rem 1.25rem 7.5rem; //25px 0px 20px 120px;
            align-items: flex-start;
        }
    }

    &__subheading {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.625rem;
        // width: 90%;
        // width: 75%;
        // width: 70%;
        width: 69%;

        @include tablet {
            width: 83%;
        }

        @include desktop {
            // width: 69%;
            width: 67%;
        }
    }

    &__column {
        // display: inline-flex;
        // // flex-direction: row;
        // justify-content: flex-start;
        // align-items: space-evenly;
        // width: 70%;
        width: 100%;
        padding-bottom: 0.625rem;
        // margin-bottom: 0.625rem;
        // display: none;

        @include mobile {
            // display: inline-flex;
            // // flex-direction: row;
            // justify-content: flex-start;
            // align-items: space-evenly;
            display: none;
        }

        // }

        @include tablet {
            display: inline-flex;
            // flex-direction: row;
            justify-content: flex-start;
            align-items: space-evenly;
        }

        &--card-view {

            @include mobile {
                display: inline-flex;
                // flex-direction: row;
                justify-content: flex-start;
                align-items: space-evenly;
                // display:none;
            }

            @include tablet {
                // display: inline-flex;
                // // flex-direction: row;
                // justify-content: flex-start;
                // align-items: space-evenly;
                display: none;
            }
        }

        &--list-view {
            @include tablet {

                //             display: inline-flex;
                // // flex-direction: row;
                // justify-content: flex-start;
                // align-items: space-evenly;
                //         flex-direction: row;
                //         width: 29%;
            }
        }
    }

    &__table {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: space-evenly;
        // width: 100%;
        padding: 0rem; //0px;

        @include mobile {
            padding-left: 1.25rem; //20px;
            width: 95%;
        }

        @include desktop {
            width: 100%;
        }
    }

    &__list {
        display: flex;
        // justify-content: flex-start;
        // align-items: space-evenly;
        list-style-type: none;
        // width: 100%;
        width: 80%;
        // width: 30%;
        // padding: 0px;
        // padding: 15px 0px;
        // margin-bottom: 0.625rem;
        // padding-bottom: 0.625rem;
        border-bottom: 1px solid #E1E1E1;

        @include mobile {
            align-content: flex-start;
            // flex-wrap: wrap;
            justify-content: center;
            flex-direction: column;
            padding: 1rem; //16px;
            width: 95%;
        }

        @include tablet {
            width: 97%;
            padding: 1.5rem 1.125rem; //24px 18px;
        }

        @include desktop {
            padding: 0.875rem 0rem; //14px 0px;
            width: 85%;
        }

        &--selected {
            background-color: #E1E1E1;
        }

        &:hover:not(&--selected) {
            background-color: #FAFAFA;
        }
    }


    &__list-items {
        display: inline-flex;
        flex-direction: row;
        //   justify-content: space-between;
        //   align-items: center;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 0.625rem;
        // width: 30%;
        // width: 25%;

        @include mobile {
            width: 100%;
        }

        @include tablet {
            width: 30%;
            font-size: 1.375rem; //22px;
        }

        @include desktop {
            font-size: 1.1rem;
        }

    }
}